<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../polymer-son-component/son-component.html">

<dom-module id="father-component">
  <template>
      <style is="custom-style">
      .container{
        border: 1px solid blue;
        padding: 10px;
        margin: 20px 0;
      }
    </style>
    <div class="container">
      Hola <strong>[[nombre]]</strong> desde un input.
      <input value ="{{nombre::input}}">
    </div>
    
    <son-component name="{{nombre}}"></son-component>
    
  </template>
  <script>
    Polymer({
      is: "father-component",
      properties: {
        nombre: {
          type: String,
          value: 'Mauricio'
        }
      }
    });
  </script>

</dom-module>
